<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Izin internet murni untuk scraping -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:label="AzHua Ext: Anichin"
        android:supportsRtl="true">
        
        <!-- SEGEL PENGENAL: Nama kelas utama ekstensi ini -->
        <meta-data
            android:name="azhua.extension.class"
            android:value="com.azhua.ext.anichin.AnichinSource" />
        
        <!-- 📡 PEMANCAR SINYAL: Marker activity agar Core App bisa mendeteksi ekstensi -->
        <activity
            android:name=".ExtensionMarkerActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="azhua.intent.action.EXTENSION" />
            </intent-filter>
        </activity>
            
    </application>
</manifest>
